last_nvd_update.txt
reportes/
exploitdb-local/
*.pyc
__pycache__/
.env
venv/
.pytest_cache/
.mypy_cache/
.tox/
*.egg-info/
.coverage
htmlcov/
dist/
build/
*.egg/
.venv/
nvd_full_cache.json
owasp-top10-local/
juice-shop/